@font-face{
    font-family: 'Microsoft Himalaya';
    src: url(font/himalaya.ttf);
}
/* Body
===================*/
body {
    margin-top: 16%;
    height: 100%;
    display: block;
    text-align: center;
    vertical-align: center;
    font-family: 'Microsoft Himalaya';
    font-size: 14px;
    color: #000;
    background-color: #fff;
}


/* Buttom
===================*/
.btn {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 10px 30px;

    border: 0;
    cursor: pointer;

    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: background .1s linear;
}

.btn--big {
    background-color: #000;
    opacity: 90%;
}

.btn--big:hover {
    opacity: 100%;
}


